<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <!-- Full path to Mono game installation -->
    <!-- Example: C:\Program Files (x86)\Steam\steamapps\common\Schedule I Mono -->
    <!-- Example (Linux): /home/user/.local/share/Steam/steamapps/common/Schedule I Mono -->
    <MonoGamePath></MonoGamePath>

    <!-- Full path to IL2CPP game installation -->
    <!-- Example: C:\Program Files (x86)\Steam\steamapps\common\Schedule I -->
    <!-- Example (Linux): /home/user/.local/share/Steam/steamapps/common/Schedule I -->
    <IL2CPPGamePath></IL2CPPGamePath>
  </PropertyGroup>
</Project>
